html, body {
  margin: 0;
  position: relative;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Roboto;
  flex-direction: row;
  align-items: center;
  background-color: #000;
  background-image: url('../img/bgmain2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 'cover';
}
