<!DOCTYPE html>
<html>
  <head>
    <% require('./img/favicon.ico') %>
    <meta charset="utf-8">
    <meta name="theme-color" content="#303030" />

    <link rel="author" href="https://github.com/EternalDeiwos" />

    <meta name="description" content="Rhodes Humans vs. Zombies Mailing List Sign Up" />
    <meta name="keywords" content="Rhodes, HvZ, Humans vs. Zombies, Rhodes HvZ, GameSoc" />
    <meta name="author" content="Gregory Linklater & St. John Giddy" />
    <meta name="application-name" content="Rhodes HvZ" />

    <!-- Facebook Metadata -->
    <meta property="og:title" content="Rhodes HvZ" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= 'https://hvz.gryphus.io/' + require('./img/cthulh.jpg') %>" />
    <meta property="og:url" content="https://hvz.gryphus.io" />
    <meta property="og:description" content="Rhodes Humans vs. Zombies Mailing List Sign Up" />
    <meta property="fb:admins" content="717235473" />

    <!-- Twitter Metadata -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Rhodes HvZ" />
    <meta property="twitter:description" content="Rhodes Humans vs. Zombies Mailing List Sign Up" />
    <meta property="twitter:image" content="<%= 'https://hvz.gryphus.io/' + require('./img/cthulh.jpg') %>" />
    <meta property="twitter:url" content="https://hvz.gryphus.io" />

    <title>Rhodes HvZ</title>
    <link rel="icon" href="favicon.ico" sizes="16x16 24x24 32x32 48x48 64x64 256x256" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div style="flex: 1; min-height: 100%" id="app"></div>
  </body>
</html>
